
.messageInput {
    position: relative;
    left: 0px;
    top: 80px;
    height: 50px;
    width: 100%;
}

.messageText {
    position: absolute;
    left: 24px;
    top: 0px;
    width: 235px;
    height: 32px;
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
    border: solid 4px black;
    color: #000000;
}

.submitButton {
    position: absolute;
    width: 77px;
    height: 40px;
    left: 275px;
    top: 0px;
    line-height: 0px;
    align-items: center;
    text-align: center;
    margin: 0px;
    padding: 0px;
    background: #000000;
    border-radius: 0px;
    color: white;
    border: solid 0px #000000;
    font-size: 20px;
    z-index: 5;
}
