.App-body1{
    // position: relative;
    position: absolute;
    width: 320px;
    height: 414px;
    left: 28px;
    top: 90px;
    z-index: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    margin: 0px;
    padding: 0px;
    top: 32px;
    height: 580px;
    color: white;
}

.film-short {
    position: relative;
    width: 320px;
    height: 424px;
    left: 0px;
    top: 0px;
    padding-top: 0px;
    padding-bottom: 8px;
}

.textTop {
    // position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 23px;
    width: 245px;
    height: 101px;
    background-color: white;
    color: black;
    font-size: 23px;
}

.miniTextTop {
    // position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 23px;
    width: 245px;
    height: 101px;
    background-color: white;
    color: black;
    font-size: 18px;
}

.textBottom {
    position: absolute;
    top: 146px;
    width: 245px;
    height: 255px;
    background-color: white;
    color: black;
}

.messageInput {
    position: relative;
    left: -25px;
    top: 18px;
    height: 50px;
    width: 100%;
}

.messageText {
    position: absolute;
    left: 24px;
    top: 0px;
    width: 235px;
    height: 32px;
    margin: 0px;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
    border: solid 4px black;
    color: #000000;
    border-radius: 0px;
}
