.App-body {
    position: relative;
    z-index: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    top: 60px;
    color: white;
}

.film-short {
    // position: relative;
    // width: 320px;
    // height: 424px;
    // left: 0px;
    // top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textTop {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 23px;
    width: 245px;
    height: 101px;
    background-color: white;
    color: black;
    font-size: 23px;
}

.textBottom {
    position: absolute;
    top: 146px;
    width: 245px;
    height: 255px;
    background-color: white;
    color: black;
}

.buttonList{
    width: 330px;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.Link {
    text-decoration: none;
}
