.App {
  text-align: center;
}

.Content-kachinko {
  position: relative;
  animation: App-logo-spin infinite 20s linear;
  height: 43min;
  margin-top: 0px;
  pointer-events: none;
}

.Content-film-short {
  position: relative;
  width: 320px;
  height: 414px;
  left: 0px;
  top: 10px;
}

.App-body-short {
  position: relative;
  background-color: white;
  top: 100%;
  min-height: 80vh;
  margin-top: 0px; /*header分のマージン*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: burlywood;
}

.Content-kachinko-open-title{
  position: absolute;/*絶対配置*/
  display: inline;
  color:rgb(255, 255, 255);
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

.Content-kachinko-close-title{
  position: absolute;/*絶対配置*/
  display: inline;
  color:rgb(255, 255, 255);
  top: 67%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

.Left-Botton-moji{
  position: absolute;/*絶対配置*/
  display: inline;
  color:rgb(255, 0, 0);
  top: 65%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

.App-logo1 {
  animation: App-logo-spin infinite 20s linear;
  width: 265px;
  margin-top: 0px;
  pointer-events: none;
}
.App-logo2 {
  animation: App-logo-spin infinite 20s linear;
  width: 265px;
  margin-top: 20px;
  pointer-events: none;
}
.App-logo3 {
  animation: App-logo-spin infinite 20s linear;
  width: 265px;
  margin-top: 20px;
  pointer-events: none;
}

.Header-logo-black{
  background-color: black;
  position: absolute;
  width: 25px;
  height: 25px;
  left: 336px;
  top: 11px;
  color: white;
}

.Header-logo-gray{
  background-color: rgb(205, 205, 205);
  position: absolute;
  width: 25px;
  height: 25px;
  left: 336px;
  top: 11px;
  color: black;
}


.App-body {
  position: relative;
  z-index: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  top: 60px;
  color: white;
}

.Left-Button {
  position: relative;
  padding-right: 10px;
  margin: 0px;
  top: 25px;
  border: "none";
}

.Center-Button {
  position: relative;
  top: 25px;
}

.Right-Button {
  position: relative;
  padding-left: 10px;
  top: 25px;
}

.Content4-Left-Button {
  position: relative;
  padding-right: 28px;
  top: 5px;
  width: 110px;
}

.Content4-Right-Button {
  position: relative;
  padding-left: 28px;
  top: 5px;
  width: 110px;
}

.Send-Button {
  position: relative;
  top: 80px;
}

.Long-Button {
  width: 327px;
  height: 37px;
  left: 24px;
  top: 550px;

  margin-top: 20px;
  background: #000000;
  border-radius: 23px;
}

.Button {
  position: relative;
  padding: 0px;
  margin: 0px;
  height: 0px;
  top: 0px;
}

.btn-square-left {
  position: relative;
  left: 0px;
  margin-right: 14px;
  background: #000000;/*ボタン色*/
  color: #FFF;
  border-radius: 24px;
  width: 109px;
  height: 37px;
  font-size: 18px;
  line-height: 21px;
  top: 3px;
}

.btn-square-center {
  position: relative;
  left: 0px;
  text-decoration: none;
  background: #000000;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 0px #627295;
  border-radius: 24px;
  width: 109px;
  height: 37px;
  font-size: 18px;
  line-height: 21px;
  top: 3px;
}

.btn-square-right {
  position: relative;
  left: 0px;
  margin-left: 14px;
  text-decoration: none;
  background: #000000;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 0px #627295;
  border-radius: 24px;
  width: 109px;
  height: 37px;
  font-size: 18px;
  line-height: 21px;
  top: 3px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}

.btn-square-right:hover {
  background-color: #9ec34b;
  border-color: #cbe585;
  color: #FFF;
}